/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */


 .heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: flex;
  font-style: italic;  
  font-family: 'Georgia';
  background-image: url("/static/img/beige_home.png");
  background-size: 88%;
}

.heroImg {

 padding-left: 40px;
 padding-right: 40px;
 padding-top: 20px;
 padding-bottom: 20px;
} 
 
@media screen and (max-width: 944px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: left; 
  align-items: left;
  justify-content: center;
  color: #FFFFFF;
}

.gals {
  display: flex;
  align-items: center;
  justify-content: center;
   padding: 1rem 0; /* padding above image*/
  text-align: center;

}
.playlistBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: flex;
  font-style: italic;  
  font-family: 'Georgia';
  background-color: #cfbca9;
  background-size: 88%;
}

.featureGal {
  height: 40%;
  width: 40%;
 
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 100px;
  width: 100px;
}
