:root {
  --ifm-color-primary: #FFFFFF;
  --ifm-color-primary-dark: #ce6c6c;
  --ifm-color-primary-darker: #f8f9f8;
  --ifm-color-primary-darkest: #fefefe;
  --ifm-color-primary-light: #f9f9f9;
  --ifm-color-primary-lighter: #f7f9f7;
  --ifm-color-primary-lightest: #ccddcc;
  --ifm-code-font-size: 95%;
  background-color: #cfbca9;
  font-style: italic;  
  font-family:Georgia, 'Times New Roman', Times, serif;

}

[data-theme='dark'] {
  --ifm-color-primary: #7e7263;
  --ifm-color-primary-dark: #716759;
  --ifm-color-primary-darker: #6b6154;
  --ifm-color-primary-darkest: #585045;
  --ifm-color-primary-light: #8b7d6d;
  --ifm-color-primary-lighter: #908372;
  --ifm-color-primary-lightest: #9f9485;
  background-color: #100f0f;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: rgb(0, 0, 0);
}